@{
    //Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    Layout = null;

    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "", CurrentUser = "";
    long loginUserType = 0;
    long locationId = 0;
    long UserId = 0;
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
        locationId = ObjLogin.LocationID;
        UserId = ObjLogin.UserId;
        CurrentUser = WorkOrderEMS.Helper.Cryptography.GetEncryptedData(ObjLogin.UserName, true);
    }
    <input type="hidden" value="@CurrentUser" id="LoggedInUser" />
}

<!--**********************************
           Content body start
       ***********************************-->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/CSS/RadioButtonCSS.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/CSS/Common.css" rel="stylesheet" />

<link href="~/Content/Dashboard/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />

<style>
    .addWhite {
        color: white;
    }

    .widthHeader {
        height: 40px;
    }
</style>
<style>
    body {
        margin: 40px 10px;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
    
.ENQUIRY {
    
    background-color: #FF9933;
    border-color: #C0C0C0; 
    color: White;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('Bubble.png');
    padding-left: 50px;
}

.BOOKED {
    background-color: #33CCFF;
    border-color: #C0C0C0;
    color: White; /* text color */
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('ok.png');
    padding-left: 50px;
}

.CONFIRMED {
    background-color: #33CC33;
    border-color: #C0C0C0;
    color: White; /* text color */
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('Money.png');
    padding-left: 50px;
}
</style>
<div class="content-body">
    <!-- row -->
    <div class="container-fluid performanceDashboard">
        <div class="row page-titles mx-0 mb-0 mb-md-3 mb-sm-3" data-aos="fade-up">
            <div class="col-sm-12 col-xxl-4 col-lg-4 col-md-12 col-12">
                <div class="welcome-text">
                    <h4>Hi, welcome back! @loginUserName</h4>
                    @*<p class="mb-0">ePeople Dashboard</p>*@
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 glowbuttonActiveDeactive"> My Schedules</div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12" id="EmployeeManagementDiv">
                <div id='loading'>loading...</div>
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
<div id="popupEventForm" class="modal hide" style="display: none;">
    <div class="modal-header"><h3>Add new event</h3></div>
    <div class="modal-body">
        <form id="EventForm" class="well">
            <input type="hidden" id="eventID">
            <label>Event title</label>
            <input type="text" id="eventTitle" placeholder="Title here"><br />
            <label>Scheduled date</label>
            <input type="text" id="eventDate"><br />
            <label>Scheduled time</label>
            <input type="text" id="eventTime"><br />
            <label>Appointment length (minutes)</label>
            <input type="text" id="eventDuration" placeholder="15"><br />
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
        <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save event</button>
    </div>
</div>
<script>
    var eventObject = [];
    $(document).ready(function () {
        var sourceFullView = { url: '/NewAdmin/GetMyEvents/' };
        var sourceSummaryView = { url: '/NewAdmin/GetMyEvents/' };
        var CalLoading = true;

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaDay',
            editable: true,
            allDaySlot: false,
            selectable: true,
            slotMinutes: 15,
            events: '/NewAdmin/GetMyEvents/',
            eventClick: function (calEvent, jsEvent, view) {
                alert('You clicked on event id: ' + calEvent.id
                    + "\nSpecial ID: " + calEvent.someKey
                    + "\nAnd the title is: " + calEvent.title);

            },

            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                if (confirm("Confirm move?")) {
                    UpdateEvent(event.id, event.start);
                }
                else {
                    revertFunc();
                }
            },

            eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                if (confirm("Confirm change appointment length?")) {
                    UpdateEvent(event.id, event.start, event.end);
                }
                else {
                    revertFunc();
                }
            },



            dayClick: function (date, allDay, jsEvent, view) {
                $('#eventTitle').val("");
                //$('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                //$('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                $('#eventDate').val(moment(date).format('DD/MM/YYYY'));
                $('#eventTime').val(moment(date).format('HH:MM'));

                ShowEventPopup(date);
            },

            viewRender: function (view, element) {

                if (!CalLoading) {
                    if (view.name == 'month') {
                        $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                    }
                    else {
                        $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceFullView);
                    }
                }
            }

        });

        CalLoading = false;
        //$('#calendar').fullCalendar({
        //    header: {
        //        left: 'prev,next today',
        //        center: 'title',
        //        right: 'month,agendaWeek,agendaDay'
        //    },
        //    editable: true,
        //    selectable: true,
        //    selectHelper: true,
        //    select: function (start, end) {
        //        var title = prompt('Event Title:');
        //        var eventData;
        //        if (title) {
        //            eventData = {
        //                title: title,
        //                start: start,
        //                end: end
        //            };
        //            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        //        }
        //        $('#calendar').fullCalendar('unselect');
        //    },
        //    editable: true,
        //    eventLimit: true,
        //    events:"../NewAdmin/GetMyEvents"
        //    //   events: [
        //    //    {
        //    //        title: 'All Day Event',
        //    //        start: '2019-12-01 12:00:00'
        //    //    },
        //    //    {
        //    //        title: 'Long Event',
        //    //        start: '2019-12-02 04:04:10',
        //    //        end: '2019-06-10'
        //    //    },
        //    //    {
        //    //        id: 999,
        //    //        title: 'Repeating Event',
        //    //        start: '2019-06-09T16:00:00'
        //    //    },
        //    //    {
        //    //        id: 999,
        //    //        title: 'Repeating Event',
        //    //        start: '2019-06-16T16:00:00'
        //    //    },
        //    //    {
        //    //        title: 'Meeting',
        //    //        start: '2019-06-12T10:30:00',
        //    //        end: '2019-06-12T12:30:00'
        //    //    },
        //    //    {
        //    //        title: 'Lunch',
        //    //        start: '2019-06-12T12:00:00'
        //    //    },
        //    //    {
        //    //        title: 'Birthday Party',
        //    //        start: '2019-06-13T07:00:00'
        //    //    },
        //    //    {
        //    //        title: 'Click for Google',
        //    //        url: 'http://google.com/',
        //    //        start: '2019-06-28'
        //    //    }
        //    //]



        //});

    });
    $('#btnPopupCancel').click(function () {
        ClearPopupFormValues();
        $('#popupEventForm').hide();
    });

    $('#btnPopupSave').click(function () {

        $('#popupEventForm').hide();

        var dataRow = {
            'Title': $('#eventTitle').val(),
            'NewEventDate': $('#eventDate').val(),
            'NewEventTime': $('#eventTime').val(),
            'NewEventDuration': $('#eventDuration').val()
        }

        ClearPopupFormValues();

        $.ajax({
            type: 'POST',
            url: "/NewAdmin/SaveEvent",
            data: dataRow,
            success: function (response) {
                if (response == 'True') {
                    $('#calendar').fullCalendar('refetchEvents');
                    alert('New event saved!');
                }
                else {
                    alert('Error, could not save event!');
                }
            }
        });
    });

    function ShowEventPopup(date) {
        ClearPopupFormValues();
        $('#popupEventForm').show();
        $('#eventTitle').focus();
    }

    function ClearPopupFormValues() {
        $('#eventID').val("");
        $('#eventTitle').val("");
        $('#eventDateTime').val("");
        $('#eventDuration').val("");
    }

    function UpdateEvent(EventID, EventStart, EventEnd) {

        var dataRow = {
            'ID': EventID,
            'NewEventStart': EventStart,
            'NewEventEnd': EventEnd
        }

        $.ajax({
            type: 'POST',
            url: "/NewAdmin/UpdateEvent",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataRow)
        });
    }
</script>
@*<script src="~/Scripts/Calendar/core/main.js"></script>
    <script src="~/Scripts/Calendar/interaction/main.js"></script>
    <script src="~/Scripts/Calendar/daygrid/main.js"></script>
    <script src="~/Scripts/Calendar/list/main.js"></script>
    <script src="~/Scripts/Calendar/google-calendar/main.js"></script>*@

@*<script src="~/Scripts/Calendar/moment.min.js"></script>*@
<script src="~/Scripts/moment.min.js"></script>
@*<script src="~/Scripts/Calendar/fullcalendar.min.js"></script>*@
<script src="~/Content/Dashboard/plugins/fullcalendar/fullcalendar.min.js"></script>